<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <!-- Font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Archivo Css -->
    <link rel="stylesheet" href="/assets/css/style.css?id=1">
    <script src="https://kit.fontawesome.com/0746dfb63e.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/" class="logo"></a>
            <form method="get" action="/" class="form-search">
                <input type="text" alt="Lugar para poner barra de búsqueda">
                <a href="#"><i class="fas fa-search"></i></a>
            </form>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-buttom">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href = "#"> Ofertas</a></li>
                <li><a href = "#"> Tiendas Oficiales</a></li>
                <li><a href = "#"> Vender</a></li>
                <li><a href = "#"> Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href = "register"> Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href = "login"> Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href = "#"> Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <section class="content-banner"></section>
    <main class="main-container">
        <section class="item-wrapper"> 
            <article class="item-li">
                <div class="item-image">
                    <img src = "/assets/images/img-cafetera-moulinex.jpg">
                    <div class="item-icon">
                        <i class="fas fa-truck color-text-verde"></i>
                    </div>
                </div>
                <div class="item-content">
                    <div class="item-price">
                        <span> $6.770</span>
                        <span class="item-offer color-text-verde"> 40% OFF</span>
                    </div>
                    <div class="item-description color-text-gris-oscuro">
                        <span> Cafetera Moulinex</span>
                    </div>
                </div>
            </article>
            <article class="item-li">
                <div class="item-image">
                    <img src = "/assets/images/img-macbook-pro-2019.jpg">
                    <div class="item-icon">
                        <i class="fas fa-truck color-text-verde"></i>
                    </div>
                </div>
                <div class="item-content">
                    <div class="item-price">
                        <span> $230.120</span>
                        <span class="item-offer color-text-verde"> 20% OFF</span>
                    </div>
                    <div class="item-description color-text-gris-oscuro">
                        <span> MacBook Pro 2019x</span>
                    </div>
                </div>
            </article>
            <article class="item-li">
                <div class="item-image">
                    <img src = "/assets/images/img-samsung-galaxy-s10.jpg">
                    <div class="item-icon">
                        <i class="fas fa-truck color-text-verde"></i>
                    </div>
                </div>
                <div class="item-content">
                    <div class="item-price">
                        <span> $7.500</span>
                        <span class="item-offer color-text-verde"> 10% OFF</span>
                    </div>
                    <div class="item-description color-text-gris-oscuro">
                        <span> Samsung Galaxy S10</span>
                    </div>
                </div>
            </article>
            <article class="item-li">
                <div class="item-image">
                    <img src = "/assets/images/img-tv-samsung-smart.jpg">
                    <div class="item-icon">
                        <i class="fas fa-truck color-text-verde"></i>
                    </div>
                </div>
                <div class="item-content">
                    <div class="item-price">
                        <span> $23.200</span>
                        <span class="item-offer color-text-verde"> 50% OFF</span>
                    </div>
                    <div class="item-description color-text-gris-oscuro">
                        <span> SmartTv Samsung 43</span>
                    </div>
                </div>
            </article>
        </section> 
        
    </main>
    
    

    <footer>
        <div class="footer-container">
            
            <section>
                <span><i class="fas fa-credit-card"></i></span>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            
            </section>
            <section>
                <span><i class="fas fa-gift"></i></span>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            
            </section>
            <section>
                <span><i class="fas fa-user-shield"></i></span>
                <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@</p>
        
            </section>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>
</html>