*{
    font-family: Roboto;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
    margin: 0;
}
.main-header{
    background-color: #EAC926;
    padding: 20px;
}
.hamburguer-buttom{
    background-color: #03264C;
    color: #ffffff;
    display: block;
    max-width: 50px;
    text-align: center;
    padding: 15px 0;
    border-radius: 8px;
    font-size: 18px;
    margin: auto;
}
.logo{
    width: 200px;
    text-align: center;
    box-sizing: border-box;
}
.copy-header{
    font-weight: 400;
    text-align: center;
}


.main-navbar{
    display: none;
}


.main-container{
    width: 90vw;
    margin: auto;
    
}

.main-navbar a{
    color: #222222;
    text-decoration: none;
}
.list-category{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.list-category label{
    text-align: center;
    
}
.list-category input[type=checkbox] {
    margin-top: 10px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    
}
  
.list-category  label {
    display: block;
}


.item-wrapper{
    display: flex;
    flex-wrap: wrap;   
    flex: 1 1 100%; 
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 20px;
    
}

.item-li{
    width: 100%;
    margin: 10px;
    background-color:#ffffff;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    
    
}
.item-li:hover{
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 8px;
    animation-direction: alternate;
}
.item-li:hover .item-icon .color-text-verde{
    transition: 0.3ms;
    transform:rotate(270deg);
}
.item-li:hover .item-description{
    display: block;
}

.item-description{
    display: none;
}
.item-image{
    position:relative;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    
    
}

.item-image img{
    width: 90%;
}

.item-icon{
    position: absolute;
    left:80%;
    bottom:-15px;
    width: 30px;
    height: 30px;
    padding: 3px;
    border: 1px solid #39b54a;
    background-color:#ffffff;
    border-radius: 40px;
    
}

.item-icon i{
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
}

.item-content {
    background-color: #ffffff;
    border-top: 1px #f2f2f2 solid;
    padding: 10px;
}

.item-price{
    
    font-weight: 300;
    font-size: 15px;
    padding: 5px;
}

.item-offer{
    font-size: 13px;
    padding: 5px;
}

.item-description{
    font-size: 12px;
    padding: 5px;
}

.color-text-celeste{
    color:#1259c3;
}

.color-text-gris-oscuro{
    color:#666666;
}

.color-text-gris-claro{
    color:#ebebeb;
}
.color-text-verde{
    color:#39b54a;
}


/* Form Seach */
.form-search{
    display: flex;
    justify-content: baseline;
    margin-top: 10px;
    
}
.form-search input{
    width: 100%;
    height: 30px;
    border: 0;
    border-radius:  3px 0 0 3px;

}

.form-search a{
    width: 40px;
    height: 30px;
    border: 0;
    border-radius: 0 3px 3px 0;
    background-color: #f1f1f1;
    color:#2f2f2f;
    text-align: center;
    vertical-align: middle;
}
     
.form-search i{
    position:relative;
    top:5px;
}
/* Formulario de Registro y Login */
.form-register{
    flex: 0 0 50%;
    margin: 30px;
    background-color: #ffffff;
    position: relative;
    -webkit-box-shadow: 10px 10px 29px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -17px rgba(0,0,0,0.75);

}
.login{
    width: 50%;
}
.form-register header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    padding: 0.3rem;
}

.form-register header > span{
    font-size: 2rem;
    overflow: hidden;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    
}
.form-register header > i{
    color:#d6cf97;
    font-size: 4rem;
    padding-top: 10px;
    
}
.form-register form{
    
    padding: 0.8rem;
    background-color: #f1f1f1;
    
}
.row{
    display: block;
}
.col-md-6{
    width: 100%;
}
.col-md-12{
    width: 100%;
}


.categorias-interes{
    display: block;
    list-style: none;
}
.categorias-interes li{
    display: block; 
    text-align: center;
    
}
.form-register label, 
.form-register input:not([type='submit'],[type='reset'],[type='file']){
    display: block;
    width: 90%;
    margin-left: 8px;
    margin-bottom: 5px;

}

.form-register select {
    display: block;
    width: 90%;
    margin-left: 8px;
    margin-bottom: 5px;
    height: 30px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: Roboto;

}
.form-register label{
    padding: 5px;
}
                    
.form-register h3{
    margin-left: 8px;
}
.form-register  input:not([type='submit'],[type='reset'],[type='file']){
    border-radius: 5px;
    height: 30px;
    border: 1px solid #000000;
}

.form-register input:is([type=file]){
    border-radius: 5px;
    height: 30px;
    width: 90%;
    margin-left: 8px;
    margin-bottom: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
    
}

.form-register input:is([type=submit],[type=reset]){
    border: 0;
    width: 90%;
    background-color: #333333;
    padding: 5px;
    margin: 10px;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 400;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}
.form-register input:is([type=submit],[type=reset]):hover{
    background-color: #0022AA;
    cursor: pointer;
}

.login{
    width: 100vw!important;
}

/* Footer */
footer {
    width: 100%;
    background-color: #666666;
    padding: 10px;
    color:#ffffff;
    font-size: 14px;

}
footer p{
    position: relative;
    font-size: 0.8rem;
    padding-top: 10px;
    text-align: center;
    color:#bfbfbf;

}
.footer-container{
    width: 90vw;
    display: block;
    text-align: center;
}
.footer-container section span{
    margin: 0;
    color: #d6cf97;
    padding-top: 10px;
    font-size: 1.8rem;
}
.footer-container section h3{
    margin: 0;
    padding-top: 10px;
    color: #ffffff;
    font-size: 1.3rem;
}
.footer-container section p{
    margin:auto;
    width: 80%;
    color: #cfcccc;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: justify;
}

@media (min-width:768px){
    .main-header-top-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .hamburguer-buttom{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }

    .main-container{
        width: 80vw;
        margin: auto;
    }
    .item-li{
        width: 40%;
    }

    .login{
        width: 60vw!important;
    }

    .main-header-top-bar a, .main-header-top-bar h2{
        flex-grow: 1;
    }
    .form-search{
        flex-grow: 2;
    }
    
    
}

@media (min-width:1200px){
    .logo{
        max-width: 200px;
    }
    
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar{
        align-items: center;
    }
    .main-navbar{
        margin-top: 20px;
    }
    .main-navbar li{
        margin: 0 15px;
        font-size: 19px;
    }
    .copy-header{
        margin: 0; 
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }

    .item-wrapper{
        flex: 1 1 25%;
    }

    .main-container{
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    
    .item-li{
        width: 20%;
    }

    .row{
        display: flex;
        justify-content: space-around;
    }

    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }

    .categorias-interes{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    .categorias-interes li{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-register header > span{
        font-size: 1.5rem;
    }

    .form-register header > i{
        font-size: 4rem;
    }
    .main-header-top-bar a, .main-header-top-bar h2{
        flex-grow: 1;
    }
    .form-search{
        flex-grow: 2;
    }
    .list-category{
        flex-flow: nowrap;
    }
    .form-register header > i{
        
        font-size: 4.5rem;
        padding-top: 5px;
        
    }

    .login{
        width: 50vw!important;
    }
    
    .footer-container{
        display: flex;
        justify-content: space-evenly;
    }
    .footer-container section {
        flex-grow: 1;
    }
   
    
    

}